<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SQL Error</title>
</head>
<body>
    <form action="/test" method="post">
        <textarea name="sql" cols="50" rows="10" placeholder="Enter your answer"></textarea>
        <input type="submit">
    </form>
</body>
</html>