<!doctype html>
<html lang="en">
<head>
    {{>part/common}}
    <link href="/static/css/learn.css" rel="stylesheet">
    <title>Learn</title>
</head>
<body>
<div id="main-container" class="quicksand nskr">
    {{>part/nav}}
    <div id="learn-container" class="mt-4 mb-4">
        <header class="d-flex justify-content-center mb-4">
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                </svg>
            </div>
            <div class="text-center fs-1 ms-3">SQL Tests</div>
        </header>
        <section>
            <div class="topic-container border p-4"><div><div><div></div></div></div>
                <div class="topic mb-4">
                    <div class="topic-header forum mb-2 fclear">
                        <div id="topic-title" class="d-flex fl">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                                    <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/>
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                </svg>
                            </div>
                            <div class="text-center fs-3 ms-2">MySQL 기초</div>
                        </div>
                    </div>
                    <div class="unit-box-1">
                        <ul class="unit-list ps-0">
                            <a href="/test/1">
                                <li class="unit-body-1 m-2">
                                    <div class="comment-header fclear mt-1 mb-1">
                                        <div class="comment-info fl ms-2">Unit 1 Test&nbsp;-&nbsp;기본 문법 [총 3문항]</div>
                                        <div class="comment-info fr me-2">[미해결]</div>
                                    </div>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
                <br>
            </div><div><div><div></div></div></div>
        </section>
        <footer>

        </footer>
    </div>
</div>
</body>
</html>