<!doctype html>
<html lang="en">
<head>
    {{>part/common}}
    <title>자유 게시판</title>

</head>

{{>part/nav}}

<div style="text-align:center; margin-top:30px;">
    <strong style="font-size:50px">Q/A 게시판</strong>
</div>

<div class="container" style="margin-top:50px;">
    <div class="">
        <table class="table table-striped" style="text-align:center; border:1px solid #dddddd">
            <thead>
            <tr>
                <th style="background-color:#eeeeee; text-align:center;">번호</th>
                <th style="background-color:#eeeeee; text-align:center;">제목</th>
                <th style="background-color:#eeeeee; text-align:center;">작성자</th>
                <th style="background-color:#eeeeee; text-align:center;">작성일</th>
                <th style="background-color:#eeeeee; text-align:center;">댓글수</th>
            </tr>
            </thead>
            <tbody>
                {{#bbsList}}
                    <tr>
                        <td style="padding: 15px;">{{id}}</td>
                        <td style="padding: 15px;"><a href="/generalforum/bbs_view?bbs_id={{id}}">{{title}}</td>
                        <td style="padding: 15px;">Yeom</td>
                        <td style="padding: 15px;">{{Datetime}}</td>
                        <td style="padding: 15px;">{{comments.size}}</td>
                    </tr>
                {{/bbsList}}

            </tbody>

        </table>

        <div style="text-align:right;">
            <a href="/generalforum/write" class="btn btn-outline-dark">글쓰기</a>
        </div>


        <div style="text-align:center; margin-top:40px;">
            <ul style="margin-bottom:30px">

                {{#searchExist}}
                    {{#preIndex}}
                        <li style="display:inline-block; margin: 0 6px;">
                            <a href="/generalforum?name={{name}}&keyword={{keyword}}&p={{preIndex}}" class="select_index">이전</a>
                        </li>
                    {{/preIndex}}
                    {{^preIndex}}
                        <li style="display:inline-block; margin: 0 6px;">
                            <a style="opacity: .5">이전</a>
                        </li>
                    {{/preIndex}}
                    {{#pageIndexList}}
                        <li style="display:inline-block; margin: 0 6px;">
                            <a href="/generalforum?name={{name}}&keyword={{keyword}}&p={{.}}" class="select_index" index-id="{{.}}">{{.}}</a>
                        </li>
                    {{/pageIndexList}}
                    {{#nextIndex}}
                        <li style="display:inline-block; margin: 0 6px;">
                            <a href="/generalforum?name={{name}}&keyword={{keyword}}&p={{nextIndex}}" class="select_index">다음</a>
                        </li>
                    {{/nextIndex}}
                    {{^nextIndex}}
                        <li style="display:inline-block; margin: 0 6px;"><a style="opacity: .5">다음</a></li>
                    {{/nextIndex}}
                {{/searchExist}}

                {{^searchExist}}
                    {{#preIndex}}
                        <li style="display:inline-block; margin: 0 6px;">
                            <a href="/generalforum?p={{preIndex}}" class="select_index">이전</a>
                        </li>
                    {{/preIndex}}
                    {{^preIndex}}
                        <li style="display:inline-block; margin: 0 6px;"><a style="opacity: .5">이전</a></li>
                    {{/preIndex}}
                    {{#pageIndexList}}
                        <li style="display:inline-block; margin: 0 6px;"><a href="/generalforum?p={{.}}" class="select_index">{{.}}</a></li>
                    {{/pageIndexList}}
                    {{#nextIndex}}
                        <li style="display:inline-block; margin: 0 6px;">
                            <a href="/generalforum?p={{nextIndex}}" class="select_index">다음</a>
                        </li>
                    {{/nextIndex}}
                    {{^nextIndex}}
                        <li style="display:inline-block; margin: 0 6px;"><a style="opacity: .5">다음</a></li>
                    {{/nextIndex}}
                {{/searchExist}}


            </ul>

            <select name="name" id="select_value">
                <option value="Title">제목</option>
                <option value="Content">내용</option>
            </select>
            <input type="text" name="keyword" id="sword" value="">
            <button type="submit" class="s_btn">검색</button>
        </div>
    </div>
</div>






<script>

    $("tr").on( "mouseover", function() {
        $( this ).css( "background-color", "#f4f4f4" );
    });

    $("tr").on( "mouseleave", function() {
        $( this ).css( "background-color", "white" );
    });

    $("td:nth-child(2)").on( "mouseover", function() {
        $( this).css( "text-decoration-line", "underline" );
    });
    $("td:nth-child(2)").on( "mouseleave", function() {
        $( this).css( "text-decoration-line", "none" );
    }); // 게시글 목록 마우스 갖다 댈 시, 색 변환과 underline



    $(".s_btn").on("click", function(){

        var sv  = document.getElementById("select_value");
		var text = (sv.options[sv.selectedIndex].value);

		var search = document.getElementById("sword").value;

        location.href = '/generalforum?name=' + text + '&keyword=' + search;

    }); // 게시글 제목 or 내용 검색



    var currentIndex = 1;

    const url = new URL(window.location.href);

    const urlParams = url.searchParams;

    if(urlParams.has('p') == true){
        currentIndex = urlParams.get('p');
    }

    var indexes = document.querySelectorAll(".select_index");

    for (const index of indexes) {
      const indexId = index.textContent

      if(indexId==currentIndex){
        index.style.color="#4b7fd8";
		index.style.textDecoration="underline";
      }
    }

</script>
