<!doctype html>
<html lang="en">
<head>
    {{>part/common}}
    <link href="/static/css/learn.css" rel="stylesheet">
    <title>Learn</title>
</head>
<body>
{{>part/nav}}
<div id="main-container" class="d-flex justify-content-center quicksand nskr">
    <div id="topic-list-container" class="mt-4 mb-4">
        <header class="d-flex justify-content-center mb-4">
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-diagram-3" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                </svg>
            </div>
            <div class="text-center fs-1 ms-3">SQL Topics</div>
        </header>

        <section>
            <div class="topic-container border p-4">
                {{#topicList}}
                    <div class="topic mb-4">
                        <div class="topic-header forum mb-2 fclear">
                            <div id="topic-title" class="d-flex fl">
                                <div class="d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                                        <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/>
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                    </svg>
                                </div>
                                <div class="text-center fs-3 ms-2">{{name}}</div>
                            </div>
                        </div>
                        <div class="unit-box-{{id}}">
                            <ul class="unit-list ps-0">
                                {{#unitList}}
                                    <a href="/learn/unit/{{id}}">
                                        <li class="unit-body-{{parentId}} ms-2 me-2 mt-3 mb-3">
                                            <div class="comment-header fclear mt-1 mb-1">
                                                <div class="comment-info fl ms-2">Unit {{id}}&nbsp;-&nbsp;{{name}}</div>
                                                <div class="comment-info fr me-2">[난이도 : {{difficulty}} / 예상 학습 시간 : {{learningTime}} ]</div>
                                            </div>
                                            <div class="unit-describe border border-secondary m-2">&nbsp;{{describe}}</div>
                                        </li>
                                    </a>
                                {{/unitList}}
                            </ul>
                        </div>
                    </div>
                    <br>
                {{/topicList}}
            </div>
        </section>
        <footer>

        </footer>
    </div>
    {{>part/accountinfo}}
</div>
</body>
</html>