.unit-list {
    list-style: none;
    margin: 0 auto;
    padding: 0 auto;
}

.unit-describe {
    background-color : #FFFFFF;
}

#learn-container, #test-container{
    margin:0 auto;
    width:70%;
}

#topic-list-container {
    width:65%;
}

.learn-part{
    overflow:hidden;
    margin-bottom:30px;
}

.ex-table, .result-table {
    border-collapse: collapse;
}

.ex-table th, .ex-table td, .result-table th, .result-table td {
    font-weight: normal;
    text-align: center;
    vertical-align : middle;
    border: 1px solid black;
}

th {
    text-align: center !important;
    vertical-align : middle;
}