<!doctype html>
<html>
<head>
    {{>part/common}}
    <link href="/static/css/learn.css" rel="stylesheet">
    <title>LoginPage</title>
    <style>
        body {
            margin: 0 auto;
        }
        form {
            text-align: center;
        }
        fieldset {
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 50%;
        }
        input[type=text]:focus, input[type=password]:focus {
            font-size: 120%;
        }
        legend {
            font-size: x-large;
        }
        label {
            display : block; /* 새 라인에서 시작 */
            padding : 10px;
        }
        label span {
            display : inline-block;
            width : 90px;
            text-align : right;
            padding : 10px;
        }
    </style>
</head>
<body>
<form name="loginForm" action="loginSuccess.jsp" method="post" onsubmit="return checkFun()">
    <fieldset>
        <legend> 로그인 화면 </legend><p></p>
        <label>
            <span>아이디</span><input type="text" name="uID" placeholder="아이디 2~16자">
        </label>
        <label>
            <span>비밀번호</span><input type="password" name="uPW" placeholder="비밀번호 6자이상">
        </label>
        <br>
        <input type="reset" value="다시작성">
        <input type="submit" value="로그인">
        <input type="button" value="회원가입" onclick="location.href='signup'">
        <br><br>
    </fieldset>
</form>
</body>
</html>