<!DOCTYPE html>
<html>
<head>
    <title>SignupPage</title>
    <script type="text/javascript">
        function checkFun() {
            var f = document.user_info;
            if (f.userID.value.length < 2 || f.userID.value.length > 16) {
                alert("아이디는 2~16자 이내로 입력해야 합니다.");
                f.userID.focus();
                return false;
            }
            else if (f.userPW.value.length < 6)
            {
                alert("비밀번호는 6자 이상으로 입력해야 합니다.");
                f.userPW.focus();
                return false;
            }
            else if (f.userPW.value != f.userPWCHECK.value)
            {
                alert("입력하신 비밀번호와 일치하지 않습니다.");
                f.userNAME.focus();
                return false;
            }
            else return true;
        }
    </script>
    <style>
        form {
            text-align: center;
        }

        input[type=text]:focus, input[type=password]:focus {
            font-size: 120%;
        }
        label {
            display : block; /* 새 라인에서 시작 */
            padding : 10px;
        }
        label span {
            display : inline-block;
            width : 120px;
            text-align : right;
            padding : 10px;
        }
        legend {
            font-size: x-large;
        }
        #image {
            text-align: center;
        }
        img {
            width: 700px;
            height: 250px;
            border-radius: 20px;
        }
        .button {
            width: 100px;
            height: 30px;
            background-color: black;
            border-radius: 20px;
            border: none;
        }
        a{
            text-decoration: none;
            text-decoration-color: #000;
        }
    </style>
</head>
<body>
<a href="home">Home</a> > 회원가입
<!--<div id="image">-->
<!--    <img src="/static/img/sql.png">-->
<!--</div>-->
<p></p><p></p>
<form action="insertDB.jsp" name="user_info" method="post" onsubmit="return checkFun()" autocomplete="off">
    <legend> 회원가입 </legend><p></p>
    <label><span>아이디</span><input type="text" name="userID" placeholder="아이디 2~16자"></label>
    <label><span>비밀번호</span><input type="password" name="userPW" placeholder="비밀번호 6자이상"></label>
    <label><span>비밀번호 확인</span><input type="password" name="userPWCHECK" placeholder="비밀번호 확인"></label>
    <br>
    <input class="button" type="reset" value="다시작성" style="color: white;">
    <input class="button" type="submit" value="가입하기" style="color: white;">
    <br><br>
</form>
</body>
</html>